DB_USER=root #username for the database
DB_PASSWORD= MyNewPassword123! #password for the database
DB_HOST=127.0.0.1 #host ip for database
DB_PORT=3306 #port for MySQL
DB_NAME=assessment_db #database name